.status-indicator-container {
  position: fixed;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 5rem; 
  height: 20rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 1rem 0;
  border-radius: 1rem;
}

.status-label {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-bottom: 1rem;
}

.status-circles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;  
  width: 100%;
}

.status-circle {
  width:  50%; 
  height:  16%; 
  border-radius: 50%;
  border: 2px solid #333;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.status-circle.red {
  background-color: #F44336;
}

.status-circle.yellow {
  background-color: #FFA500;
}

.status-circle.green {
  background-color: #4CAF50;
}

.status-circle.active {
  opacity: 1;
}