.sensorbox {
    height: 10vh;
    width: 40%;
    border-radius: 15px;
    margin-top: 0.2%;
    margin-bottom: 0.1%;
    background: #f0f0f0;
    position: relative;
    color: black;
}

.SensorContainer {
    width: 119vw;
    height: auto;
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;  
    flex-wrap: nowrap;  
    position: fixed;
    top: 17.5rem;
    left: 6.2rem;
}

.sensor-values-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
    flex-wrap: nowrap;    
}

.sensor-value {
    margin-right: 10px;  
    font-size: 1rem;
    position: relative;
    color: black;
}

.value-number {
    font-size: 1rem;
    color: black;
}

.sensor-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: move;
  }
  