.rotation-container {
  display: flex;
  padding-top: 10px;
  background-color: #f0f0f0;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  width: 100%;
}


.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.circle-direction {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.percentage {
  margin-top: 1rem;
  font-size: 1rem;
}
